.body {
    font-family: 'EB Garamond', serif !important;
    font-family: 'Poppins', sans-serif !important;
    font-family: 'Work Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', serif !important;
}

p {
    font-family: 'Poppins', sans-serif !important;
}

.btn-primary {
    background-color: #B68C5A !important;
    color: white !important;
}
.btn-primary2 {
    background-color: #B68C5A !important;
    color: white !important;
    padding: 5px 10px!important;
    margin-left: -30px!important;
    border-color: white!important;
}
